RPC_URL=http://localhost:8545

CLIENT_PRIVATE_KEY=
PROVIDER_PRIVATE_KEY=

MARKETPLACE_ADDRESS=
TOKEN_ADDRESS=

# Demo Configuration
PAYMENT_AMOUNT=100000000000000000000

# Anvil Configuration
ANVIL_PORT=8545
ANVIL_HOST=localhost 